<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to  root_path, class: "nav-left-icon" do%>
        <i class="fas fa-cocktail"></i>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "make a cocktail", new_cocktail_path(@cocktails), class: "nav-link"  %>
          </li>
        </ul>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/watannbe11"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/yuichiro-watanabe-166a081a2/"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </body>


</html>
